.social-container {
    position: relative;
}

.footer-triangle {
    position: absolute !important;
    width: 112vw !important;
    top: -135px !important;
    left: -49px !important;
}

.navigation {
    font-size: 1.3em;
    font-weight: 400;
}
