<section class="social-container">
    <img class="footer-triangle" src="../../../../assets/images/footer_triangle.svg" alt="..." style="width: 18rem">
    <div class="container">
        <div class="row">
            <div class="col-md-4 social-aviso">
                <p>Consulta nuestro Aviso de privacidad</p>
                <p>
                    UNE: Unidad Especializada de atención a clientes.<br>
                    Domicilio: Presidente Masaryk 111-5, Colonia Polanco V sección,<br>
                    Delegación Miguel Hidalgo
                </p>
                <p>
                    Teléfono: 01 800 200 8000<br>
                    Correo Electrónico: <a href="mailto:atencionaclientes@unifin.com.mx">
                        atencionaclientes@unifin.com.mx</a><br>
                    Página de internet: <a href="https://unifin.com.mx/"> www.unifin.com.mx</a>
                </p>
                <p>
                    CAT PROMEDIO SIN IVA DEL 42.7% Para fines informativos y<br> de comparación, calculado al 27 de
                    septiembre de 2019,<br> considerando una comisión por apertura financiada al<br> primer mes, con
                    seguro financiado.
                </p>
                <p>Uniclick y Unifin © 2020 Derechos Reservados</p>
            </div>
            <div class="col-md-5 navigation">
                <p class="social-negrita">Navegación</p>
                <div class="row">
                    <div class="col-6 col-lg-6" style="display: inline-grid;">
                        <ul style="list-style-type: none; padding-left: 0;">
                            <li class="social-navegacion"><a href="home#ventajas">Ventajas</a></li>
                            <li class="social-navegacion"><a href="home#porQueUniclick">¿Por que Uniclick?</a></li>
                            <li class="social-navegacion"><a href="home#comoFunciona">¿Cómo funciona?</a></li>
                            <li class="social-navegacion"><a href="home#requisitos">Requisitos</a></li>
                            <li class="social-navegacion"><a href="http://noticias.uniclick.mx">Prensa</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-lg-6" style="display: inline-grid;">
                        <ul style="list-style-type: none; padding-left: 0;">
                            <li class="social-navegacion"><a href="#">Programa de Lealtad</a></li>
                            <li class="social-navegacion"><a href="https://portal.uniclick.mx/iniciar-sesion">Mi Portal
                                    Uniclick</a></li>
                            <li class="social-navegacion"><a href="#">Nosotros</a></li>
                            <li class="social-navegacion"><a href="http://blog.uniclick.mx/">Blog</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <p class="social-negrita" style="font-size: 1.3em;">Nuestras Redes Sociales</p>
                <div class="social-img-container">
                    <a href="https://www.facebook.com/UniclickByUnifin/"><img class="social-img"
                            src="../../../../assets/images/social/facebook.webp" alt="..."></a>
                    <a href="https://www.twitter.com/Uniclick_Mx"><img class="social-img"
                            src="../../../../assets/images/social/twitter.webp" alt="..."></a>
                    <a href="https://www.instagram.com/uniclick_mx/"><img class="social-img"
                            src="../../../../assets/images/social/instagram.webp" alt="..."></a>
                    <a href="https://www.linkedin.com/company/uniclickbyunifin/?viewAsMember=true"><img
                            class="social-img" src="../../../../assets/images/social/linkedin.webp" alt="..."></a>
                </div>
            </div>
        </div>
    </div>
</section>