<div class="container my-4">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <ul class="progressbar">
                <li class="step-1 active check">
                    <span class="step-label">Datos del solicitante</span>
                </li>
                <li class="step-2 active check">
                    <span class="step-label">Consulta Buró y SAT</span>
                </li>
                <li class="step-3 active">
                    <span class="step-label">Oferta de Crédito</span>
                </li>
                <li class="step-4">
                    <span class="step-label">Formalización</span>
                </li>
            </ul>
        </div>
    </div>
</div>