.progressbar {
    margin: 0;
    padding: 0;
}

.progressbar {
    counter-reset: step;
}

.progressbar li {
    list-style-type: none;
    width: 25%;
    float: left;
    font-size: 25px;
    position: relative;
    text-align: center;
    color: #6c8be8;
}

.progressbar li:before {
    width: 50px;
    height: 50px;
    content: counter(step);
    counter-increment: step;
    line-height: 45px;
    border: 2px solid #6c8be8;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}

.progressbar li:after {
    width: 100%;
    height: 1px;
    content: "";
    position: absolute;
    background-color: #6c8be8;
    top: 24px;
    left: -50%;
    z-index: -1;
}

.progressbar li:first-child:after {
    content: none;
}

.progressbar li.active {
    color: white;
}

.progressbar li.active span {
    color: #6c8be8;
}

.progressbar li span {
    color: #6c757d;
}

.progressbar li.active:before {
    border-color: #6c8be8;
    background-color: #6c8be8;
}

.progressbar li.check:before {
    border-color: #6c8be8;
    background-color: #6c8be8;
    /*content: "\2713";  check arrow html entity*/
    content: "\e876";
    font-family: "Material Icons";
    font-size: 35px;
}

.progressbar li.active + li:after {
    background-color: #6c8be8;
}

.step-label { 
    color: black;
    font-size: 17px;
}