<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light space-between">
        <a class="navbar-brand" href="#">
            <img class="logo-uniclick" src="../../../../assets/images/logo-color.svg" alt="..." width="200">
        </a>
        <div>
            <ul class="navbar-nav mr-auto align-center">
                <li class="nav-item">
                    <a class="nav-link align-center" href="#">
                        <img class="logo-uniclick" src="../../../../assets/images/back.svg" alt="..." width="22">
                        Regresar
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Guardar y Salir</a>
                </li>
            </ul>
        </div>
    </nav>
</div>