.triangles-bg {
    margin-top: 5rem;
    margin-bottom: 9rem;
    position: relative;
}

.card {
    border: 0;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15) !important;
    border-radius: 20px;
    margin-top: 5rem;
}

.card .header {
    display: flex;
    justify-content: center;
}

.card .body {
    text-align: center;
    padding: 4rem 3rem 0rem 3rem;
}

.card .footer {
    text-align: center;
}

.title {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 200;
    text-align: center;
    margin-right: 5rem;
}

.title:nth-child(3) {
    width: 20%;
    min-width: 14rem;
    margin-right: 0;
}

.title-border {
    border-bottom: 3px solid #6d8ae8;
}

.title-btn {
    background: #6d8ae8;
    color: white;
    border-radius: 3px;
}

.question {
    font-size: 1.7rem;
    line-height: 2.3rem;
    display: inline-block;
    width: 50%;
    color: #6d8ae8;
    font-weight: 450;
}

.triangle {
    width: 18rem;
    position: absolute;
    z-index: -1;
}

.triangle-1 {
    bottom: -35px;
}

.triangle-2 {
    top: -42px;
    right: 52px;
    z-index: -1;
}
