<div class="container triangles-bg">
    <div class="card w-90 mx-auto">
        <div class="header my-4">
            <span class="title title-border">Empresa</span>
            <span class="title title-btn">Aval (Accionista Principal)</span>
            <span class="title title-border">Accionista(s) con +25% de participación</span>
        </div>
        <div class="footer mt-4">
            <span class="question">
                ¿El Accionista Principal esta casado
                por bienes mancomunados?
            </span>
        </div>
        <div class="body qr-body">
            <img class="logo-uniclick" src="../../../../assets/images/qr.png" alt="..." style="width: 18rem">
        </div>
    </div>
    <img src="../../../../assets/images/triangle_1.svg" alt="..." class="triangle triangle-1">
    <img src="../../../../assets/images/triangle_2.svg" alt="..." class="triangle triangle-2">
</div>