<div class="container triangles-bg">
    <div class="card w-90 mx-auto">
        <div class="header my-4">
            <span class="title title-border">Empresa</span>
            <span class="title title-btn">Aval (Accionista Principal)</span>
            <span class="title title-border">Accionista(s) con +25% de participación</span>
        </div>
        <div class="body mt-4">
            <span class="question">
                Envía al Aval (Accionista Principal)
                el código QR donde podrá cargar los documentos
                y llenar la información
            </span>
        </div>
        <div class="footer my-4">
            <div class="form-group">
                <label for="">
                    Ingresa el e-mail de Aval (Accionista Principal) <span class="red">*</span>
                </label>
                <input type="text">
            </div>
            <div class="my-3">
                <button class="btn ml-3">Enviar mail</button>
            </div>
        </div>
    </div>
    <img src="../../../../assets/images/triangle_1.svg" alt="..." class="triangle triangle-1">
    <img src="../../../../assets/images/triangle_2.svg" alt="..." class="triangle triangle-2">
</div>