<div class="container triangles-bg">
    <div class="card w-90 mx-auto">
        <div class="header my-4">
            <span class="title title-border">Empresa</span>
            <span class="title title-btn">Aval (Accionista Principal)</span>
            <span class="title title-border">Accionista(s) con +25% de participación</span>
        </div>
        <div class="body mt-4">
            <img class="logo-uniclick" src="../../../../assets/images/aval_principal.svg" alt="..."
                style="width: 16rem">
        </div>
        <div class="footer my-4">
            <span class="question">
                ¿Eres tú el Aval (Accionista Principal)? 
            </span>
            <div class="my-3">
                <button class="btn">Sí</button>
                <button class="btn bg-white ml-3">No</button>
            </div>
        </div>
    </div>
    <img src="../../../../assets/images/triangle_1.svg" alt="..." class="triangle triangle-1">
    <img src="../../../../assets/images/triangle_2.svg" alt="..." class="triangle triangle-2">
</div>