/* You can add global styles to this file, and also import other style files */

/*** Generic Styles ***/
html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn {
    background: #6c8be8 !important;
    color: white !important;
    min-width: 8rem !important;
    font-size: 1.4rem !important;
    border-radius: 2rem !important;
}

.bg-white {
    background: white !important;
    color: #6c8be8 !important;
    border: 1px solid #6c8be8 !important;
}

.space-between {
    display: flex !important;
    justify-content: space-between !important;
}

.align-center {
    display: flex;
    align-items: center;
}

.w-90 {
    width: 90%;
}

.w-80 {
    width: 80%;
}

.w-20 {
    width: 20% !important;
}

.social-container {
    background-color: #f2f5ff;
    padding-top: 140px;
    padding-bottom: 30px;
}

.social-container {
    background-color: #f2f5ff;
    padding-top: 140px;
    padding-bottom: 30px;
}

.social-negrita {
    font-weight: bold;
    color: #485a82;
}

.social-aviso {
    font-size: 1em;
    color: #485a82;
}

.social-aviso a {
    font-size: 12px;
    color: #485a82;
}

.social-navegacion {
    margin-top: 10px;
    margin-bottom: 10px;
}

.social-navegacion a {
    text-decoration: underline;
    color: #485a82;
}

.social-img {
    max-width: 34px;
}

.social-img-container a:nth-child(2) {
    margin-left: 20px;
    margin-right: 10px;
}

.social-img-container a:nth-child(3) {
    margin-left: 10px;
    margin-right: 20px;
}

/*** Card Styles ***/

.triangles-bg {
    margin-top: 5rem;
    margin-bottom: 9rem;
    position: relative;
}

.card {
    border: 0;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15) !important;
    border-radius: 20px;
    margin-top: 5rem;
}

.card .header {
    display: flex;
    justify-content: center;
}

.card .body {
    text-align: center;
    padding: 4rem 3rem 0rem 3rem;
}

.card .footer {
    text-align: center;
}

.title {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 200;
    text-align: center;
    margin-right: 5rem;
}

.title:nth-child(3) {
    width: 20%;
    min-width: 14rem;
    margin-right: 0;
}

.title-border {
    border-bottom: 3px solid #6d8ae8;
}

.title-btn {
    background: #6d8ae8;
    color: white;
    border-radius: 3px;
}

.question {
    font-size: 1.7rem;
    line-height: 2.3rem;
    display: inline-block;
    width: 50%;
    color: #6d8ae8;
    font-weight: 450;
}

.triangle {
    width: 18rem;
    position: absolute;
    z-index: -1;
}

.triangle-1 {
    bottom: -35px;
}

.triangle-2 {
    top: -42px;
    right: 52px;
    z-index: -1;
}

.red {
    color: red;
}